:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.article {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em 0;
  width: 70%;
  background-color: #1a1a1a;
  border-radius: 20px;
}

.article.is-active {
  display: flex;
}

.article img {
  width: 100%;
  height: auto;
}

.article-body {
  padding: 1em;
  background-color: #000000;
  margin: 1em 0;
  border-radius: 20px;
}

.article h2 {
  font-size: 1.5em;
  margin: 2em 1em;
}

.article p {
  line-height: 1.75;
  font-size: 1.2em;
}

.article img {
  border-radius: 20px;
}

#weblink {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown-content.is-active {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.options {
  border-radius: 20px;
  background-color: #5d5d5d;
  margin: 0.5em 0;
}

.category {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;

}

input[type="radio"] {
  margin-right: 1.5em;
  border: 1px solid #1a1a1a;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #eaeaea;
  }

  .options {
    background-color: #c4c4c4;
  }

  .article {
    background-color: #eaeaea;
  }

  .article-body {
    background-color: #ffffff;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .article.is-active {
    font-size: 0.75em;
    width: 95%;
  }

  #weblink {
    font-size: 0.8em;
  }
}